[Desktop Entry]
Name=PPPoEDI
GenericName=PPPoEDI
Comment=An app to use the DI Network
Categories=Internet;
Exec=/usr/local/bin/pppoedi
Icon=applications-internet
Terminal=false
Type=Application
Keywords=ppp;pppoe;di;ufes;
